*.pyc
__pycache__
env
.DS_Store
staticfiles
my-db
.history
.idea
*.log
pm_main_server/core/Access/access.xml

pm_main_server/logs
pm_functional_server/rest_api/migrations
pm_functional_server/db.sqlite3
pm_main_server/services_main_server/Access/access_data.py
scriptsForClient
softDistributes

